body {
  margin: 0;
  padding:0;
  width:100%;
  height:100%;
  font-size:1vw;
  color:#000;
  background-color:#fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex     {display:flex; justify-content:center; align-items:center;}
.column   {flex-direction:column;}
.stretch  {align-items:stretch;}
.wrap     {flex-wrap:wrap;}
.start    {justify-content:flex-start;}
.end      {justify-content:flex-end;}

/*Medium Devices, Desktops*/
@media (min-width: 768px) and (max-width: 1024px) {
  body {font-size:1.3vw;}
}

/*Small Devices, Tablets, Smartphones*/
@media (min-width: 481px) and (max-width: 767px) {
  body {font-size:2vw;}
}

/*Small Devices, Tablets, Smartphones*/
@media (max-width: 481px) {
  body {font-size:3vw;}
}

/*Printers*/
@media print {
  body {font-size:10px;}
} 
